<!DOCTYPE html>
<html>
<head>
  <title> Δανεισμοί	 </title>
</head>
<body>
  <h1>Δείτε τouς δανεισμούς του μαθητή</h1>
  <div class="schools-list">
    {% if stu_ln %}
    {% for ln in stu_ln %}
    <div class="school">
      <p>ISBN: {{ ln[0] }}</p>
      <p>Τίτλος Βιβλίου: {{ ln[1] }} </p>
      <p>Ημερομηνία δανεισμού: {{ ln[2] }}</p>
      {% if ln[4] > 0 %}
        <p>Ενεργός δανεισμός</p>
        <p>Επιστροφή δανεισμού:</p>
        <p><a href="/student/deactivate_loan/{{userID}}/{{ ln[3] }}/{{ln[0]}}">Καταχώρηση επιστροφής</a>
      {% else %}
        <p>Προηγούμενος δανεισμός</p>
      {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p> Δεν έχετε δανεισμούς </p>
    {% endif %}
  </div>
  <h2>Πατήστε <a href="/">εδώ</a> για να επιστρέψετε στην αρχική σελίδα.</h2>
</body>
</html>
