<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Περισσότεροι δανεισμοί</title>
</head>
<body>
  <h1>  Ο αριθμός των περισσότερων βιβλίων που έχει δανειστεί ένας νέος (ηλικία < 40) εκπαιδευτικός είναι {{maxloans[0][4]}}</h1>
  <h1>  Οι νέοι εκπαιδευτικοί με τους περισσότερους δανεισμούς είναι οι παρακάτω</h1>
  <table>
    <thead>
      <tr>
        <th>Εκπαιδετικός</th>
        <th>Όνομα σχολικής μονάδας</th>
        <th>Ημερομηνία γέννησης</th>
      </tr>
    </thead>
    <tbody>
  {% for maxloan in maxloans %}
  <tr>
    <td>{{ maxloan[0] }} {{maxloan[1]}}</td>
    <td>{{ maxloan[2] }} </td>
    <td>{{ maxloan[3] }}</td>
  </tr>
  {% endfor %}
</tbody>
  </table>

<h3>Πατήστε <a href="/">εδώ</a> για να επιστρέψετε στην αρχική σελίδα.</h3>

</body>
</html>
